html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 900px;
	min-height: 500px;
}

.hidden
{
	display: none;
}

.game
{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #002428;
}

.world
{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 900px;
	height: 500px;
}

.dialog-layer
{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.dialog-layer .dialog
{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 240px;
	height: 220px;
	color: #bbbbbb;
	background-color: rgba(0,0,0,0.3);
}

.dialog .title
{
	padding: 0 20px;
	color: white;
	font-size: 18px;
}

.dialog .description,
.dialog .rules
{
	padding: 0 20px;
	font-size: 14px;
}

.dialog ul.rules li
{
	margin-top: 4px;
	list-style: none;
}

.dialog .startButton
{
	outline: none;
	border: none;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding: 10px 20px;
	font-size: 28px;
	color: #bbbbbb;
	background-color: transparent;
}

.dialog .startButton:hover
{
	background-color: rgba(0, 0, 0, 0.4);
}

.canvas
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
}
